In [3]:
import numpy as np

In [4]:
import pandas as pd

In [6]:
myindex = ['USA','Canada','Mexico']

In [5]:
mydata = [1776,1867,1821]

In [7]:
myser1 = pd.Series(data = mydata)

In [8]:
myser1 # data is stored along index

0    1776
1    1867
2    1821
dtype: int64

In [9]:
myser2 = pd.Series(data = mydata,index = myindex)

In [10]:
myser2 # data is stored along labelled data set

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [11]:
# data from myser2 can be accessed through index or lablled data set
myser2[0]
myser2['USA']

1776

In [12]:
ages = {'Shivansh':5,'Gaurav':7,'Spike':0}
pd.Series(ages) # pandas directly convert dictionary to series.

Shivansh    5
Gaurav      7
Spike       0
dtype: int64

In [13]:
#Operations in Series

In [14]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company

In [16]:
q1 = {'Japan':80,'China':450,'India':200,'USA':250}
q2 = {'Brazil':100,'China':500,'India':210,'USA':260}

In [17]:
sales_q1 = pd.Series(q1)

In [19]:
sales_q2 = pd.Series(q2)

In [21]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [23]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [25]:
sales_q1[0]

80

In [27]:
sales_q1['Japan'] # More readable than passing just 0

80

In [29]:
sales_q1.keys() # To get all the keys in our dict

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [31]:
[1,2] * 2 # for normal array

[1, 2, 1, 2]

In [33]:
np.array([1,2])*2 # Array got broadcasted

array([2, 4])

In [34]:
# As Pandas is build upon numpy then we can perform braodcasting operations on pandas also

In [38]:
sales_q1 * 2 # Values got mutliplied by 2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [41]:
sales_q1/100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [43]:
sales_q1 + sales_q2 # Brazil and Japan are not present in the case

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [44]:
sales_q1.add(sales_q2,fill_value = 0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64